.footer__info__wrapper {
    background-color: $base-link-color;
    // position: absolute;
    margin-top: -65px;
    opacity: 0.05;
    height: 65px;
    width: 100%;

    .footer__info {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .footer__info__location {
            ul {
                display: inline-block;

                li {
                  display: inline-block;
                    list-style: none;
                    // color: $base-link-color;
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }

    .copyright {
        // opacity: 0.2;
        // color: $base-link-color;
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
}
