.footer__info__wrapper {
    background-color: #434647;
    position: absolute;
    height: 65px;
    width: 100%;
    bottom: 0;
    left: 0;
    color: rgba(255, 255, 255, .6);

    .footer__info {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .footer__info__location {
            ul {
                display: inline-block;

                li {
                    display: inline-block;
                    list-style: none;
                    font-family: Arial;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }

    .copyright {
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
    }
}
